.header {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: baseline;

    .headerLinks {
        display: flex;
        justify-content: flex-end;
        align-items: center
    }

    a {
        margin-right: 10px;
    }

}