.collectionInfo {
    height: 20%;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.preview {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.collectionImage {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

.collection {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    flex: auto;
    flex-direction: column;
}

.collectionPreview h1 {
    padding: 0px 30px;

}

.add_to_cart{
    width: 80%;
    background-color: #292828;
    margin: 50px 0px;
    padding: 5px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.add_to_cart:hover{
    color: #292828;
    background-color: #C0C0C0;
}